.mainroad{
position:absolute;
top:280px;
left:-120px;
width:100px;
height:100px;
border-radius: 15px;
border:1px groove black;
background-color:GhostWhite;	
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;	
transform-origin: 50% 50%;	
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
} 
 .mainroad:after {
position:absolute;
content:"";
top:15px;
left:15px;
width: 70px;
height: 70px; 
border-radius: 15px;
border:1px solid black;
background:yellow;	
}
.trafficlight{
position:absolute;
content:"";
top:400px;
left:-95px;	
width: 52.5px;
height: 120px;
background: #222;
background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
border-radius: 3px;
border: solid 2px #333;
}
.trafficlight:after{
position: absolute;
content: "";
top: -10px; 
width: 52.5px;
height: 52.5px;
margin: 0 auto;
margin-left: 0px;
border-radius: 50%;
background: #222;
background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
z-index: -1;
}
  .protector{
position: absolute;
top: 6px;
left: -8.5px;
width: 54px;
height: 0;	
background: transparent;
border-right: solid 9px transparent;
border-left: solid 9px transparent;
border-top: solid 30px #111;
border-radius: 3px;
z-index: -1;
}
.protector:nth-child(2){
top: 42px;
}
.protector:nth-child(3){
top: 78px;
}
.red{
position: absolute;
top: 6px;
left: 10.5px; 
width: 30px;
height: 30px;
background: red;
background-image: radial-gradient(brown, transparent);
background-size: 1px 1px;	
border-radius: 50%;	 
animation: 30s red infinite;
-webkit-animation:30s red infinite;
box-shadow:
0 0 6px #111 inset,
0 0 3px red;
}
.yellow{
position: absolute;
top: 43.5px;
left: 10.5px;
width: 30px;
height: 30px;
background: yellow;
background-image: radial-gradient(orange, transparent);
background-size: 1px 1px;	
border-radius: 50%;	
animation: 30s yellow infinite;
-webkit-animation:30s yellow infinite;
box-shadow:
0 0 6px #111 inset,
0 0 3px yellow;
}
.green{
position: absolute;
top: 81px;
left: 10.5px;  
width: 30px;
height: 30px;
background: green;
background-image: radial-gradient(lime, transparent);
background-size: 1px 1px;	
border-radius: 50%;	
box-shadow:
0 0 6px #111 inset,
0 0 3px lime;
animation: 30s green infinite;
-webkit-animation:30s green infinite;
}
@keyframes red {
0%{opacity: 1;}
20%{opacity: 1;}
40%{opacity: 1;}
60%{opacity: .1;}
80%{opacity: .1;}
100%{opacity: .1;}
}
@keyframes yellow {
0%{opacity: .1;}
20%{opacity: .1;}
40%{opacity: 1;}
50%{opacity: .1;}
60%{opacity: .1;}
80%{opacity: .1;}
100%{opacity: .1;}
}
@keyframes green {
0%{opacity: .1;}
20%{opacity: .1;}
40%{opacity: .1;}
60%{opacity: 1;}
80%{opacity: 1;}
85%{opacity: .1;}
90%{opacity: 1;}
95%{opacity: .1;}
100%{opacity: 1;}
}
@-webkit-keyframes red{
0%{opacity: 1;}
20%{opacity: 1;}
40%{opacity: 1;}
60%{opacity: .1;}
80%{opacity: .1;}
100%{opacity: .1;}
}
@-webkit-keyframes yellow{
0%{opacity: .1;}
20%{opacity: .1;}
40%{opacity: 1;}
50%{opacity: .1;}
60%{opacity: .1;}
80%{opacity: .1;}
98%{opacity: .1;}
100%{opacity: 1;}
}
@-webkit-keyframes green{
0%{opacity: .1;}
20%{opacity: .1;}
40%{opacity: .1;}
60%{opacity: 1;}
80%{opacity: 1;}
85%{opacity: .1;}
90%{opacity: 1;}
95%{opacity: .1;}
100%{opacity: 1;}
}
.handler1:before{
position:absolute;
content:"";
top:682px;
left:-100px;
width:60px;
height:60px;
border-radius:30px;	
background: -webkit-radial-gradient(circle, black,#4F4F4F);
background: -o-radial-gradient(circle, black,#4F4F4F);
background: -moz-radial-gradient(circle, black,#4F4F4F);
background: -ms-radial-gradient(left,black,#4F4F4F,black);
background: radial-gradient(circle, black,#4F4F4F);
-webkit-transform: rotateX(110deg);
-moz-transform: rotateX(110deg);
-ms-transform: rotate(110deg);
-o-transform: rotateX(110deg);
transform: rotateX(110deg);
z-index:-1;
}
.handler1:after{
position:absolute;
content:"";
top:390px;
left:-80px;
width:20px;
height:325px;
border-radius:5px;
background: -webkit-linear-gradient(left, black , #4F4F4F,black ); 
background: -o-linear-gradient(left, black , #4F4F4F,black ); 
background: -ms-linear-gradient(left, black , #4F4F4F,black ); 
background: -moz-linear-gradient(left, black , #4F4F4F,black ); 
background: linear-gradient(left, black , #4F4F4F,black ); 
z-index:-1;
}
.handler2:before{
position:absolute;
content:"";
top:878px;
left:-100px;
width:60px;
height:60px;
border-radius:30px;	
background: -webkit-linear-gradient(left,black,#4F4F4F,black );
background: -o-linear-gradient(left,black,#4F4F4F,black);
background: -moz-linear-gradient(left,black,#4F4F4F,black);
background: -ms-linear-gradient(left,black,#4F4F4F,black);
background: linear-gradient(left,black,#4F4F4F,black);
-webkit-transform: rotateX(110deg);
-moz-transform: rotateX(110deg);
-o-transform: rotateX(110deg);
transform: rotateX(110deg);
z-index:-1;
}
.handler2:after{
position:absolute;
content:"";
top:710px;
left:-100px;
width:60px;
height:200px;
border-radius:5px;	
background: -webkit-linear-gradient(left,black , #4F4F4F,black );
background: -ms-linear-gradient(left,black , #4F4F4F,black );
background: -o-linear-gradient(left,black , #4F4F4F,black );
background: -moz-linear-gradient(left,black , #4F4F4F,black );
background: linear-gradient(left,black , #4F4F4F,black );
z-index:-1;
}